<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<img>
    <h1> Merry Christmas everyone</h1>
    <img src="https://www.google.com/imgres?q=santa&imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2021%2F12%2F14%2F03%2F31%2Fsanta-claus-6869556_960_720.png&imgrefurl=https%3A%2F%2Fpixabay.com%2Fillustrations%2Fsanta-claus-christmas-cutout-6869556%2F&docid=D4LWcJIqg8LJGM&tbnid=9NQB-CR30v4CpM&vet=12ahUKEwiLpMmA8qKKAxXDWkEAHWbMNxsQM3oECFQQAA..i&w=532&h=720&hcb=2&ved=2ahUKEwiLpMmA8qKKAxXDWkEAHWbMNxsQM3oECFQQAA" > 
    <h2> From the Computer Science Society</h2>
    <p>bdhshhfjkdsgdfkjgnjkdf</p>
</body>
</html>